.hero {
  background: url('../img/mobil1.jpg') no-repeat center center;
  background-size: cover;
  padding: 100px 0;
}

.car-card img {
  height: 200px;
  object-fit: cover;
}

.card-body h5 {
  font-weight: bold;
}
